# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\laure\OneDrive\Desktop\Programming_Fall2020\PG4200 - Datastructures and Algorithms\Exercices\Ex3\src\src\InsertionSort\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
